fastai>=2.0.0
graphviz
ipywidgets
matplotlib
nbdev>=0.2.12
pandas
scikit_learn
azure-cognitiveservices-search-imagesearch
sentencepiece
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
